<p>
  <b>Codigo:</b>
  <%=h @cliente.codigo %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @cliente.descripcion %>
</p>

<p>
  <b>Ruc:</b>
  <%=h @cliente.ruc %>
</p>

<p>
  <b>Dni:</b>
  <%=h @cliente.dni %>
</p>

<p>
  <b>Direccion1:</b>
  <%=h @cliente.direccion1 %>
</p>

<p>
  <b>Numero:</b>
  <%=h @cliente.numero %>
</p>

<p>
  <b>Interior:</b>
  <%=h @cliente.interior %>
</p>

<p>
  <b>Tefl1:</b>
  <%=h @cliente.tefl1 %>
</p>

<p>
  <b>Telf2:</b>
  <%=h @cliente.telf2 %>
</p>

<p>
  <b>Fax:</b>
  <%=h @cliente.fax %>
</p>

<p>
  <b>E-mail:</b>
  <%=h @cliente.email %>
</p>

<p>
  <b>Giro negocio:</b>
  <%=h @cliente.giro_negocio %>
</p>

<p>
  <b>Representante:</b>
  <%=h @cliente.representante %>
</p>

<p>
  <b>Referencias:</b>
  <%=h @cliente.referencias %>
</p>

<p>
  <b>Nro cuenta:</b>
  <%=h @cliente.nro_cuenta %>
</p>

<p>
  <b>Vendedor asignado:</b>
  <%=h @cliente.vendedor_asignado %>
</p>

<p>
  <b>Limite cred:</b>
  <%=h @cliente.limite_cred %>
</p>

<p>
  <b>Nota:</b>
  <%=h @cliente.nota %>
</p>


<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
