<p>
  <b>Codigo:</b>
  <%=h @transportista.codigo %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @transportista.descripcion %>
</p>

<p>
  <b>Nro incripcion:</b>
  <%=h @transportista.nro_incripcion %>
</p>

<p>
  <b>Ruc:</b>
  <%=h @transportista.ruc %>
</p>

<p>
  <b>Dni:</b>
  <%=h @transportista.dni %>
</p>

<p>
  <b>Nro brevete:</b>
  <%=h @transportista.nro_brevete %>
</p>

<p>
  <b>Direc1:</b>
  <%=h @transportista.direc1 %>
</p>

<p>
  <b>Direc2:</b>
  <%=h @transportista.direc2 %>
</p>

<p>
  <b>Telf1:</b>
  <%=h @transportista.telf1 %>
</p>

<p>
  <b>Telf2:</b>
  <%=h @transportista.telf2 %>
</p>

<p>
  <b>Fax:</b>
  <%=h @transportista.fax %>
</p>

<p>
  <b>Modelo marca:</b>
  <%=h @transportista.modelo_marca %>
</p>

<p>
  <b>Placa:</b>
  <%=h @transportista.placa %>
</p>

<p>
  <b>Notas:</b>
  <%=h @transportista.notas %>
</p>


<%= link_to 'Edit', edit_transportista_path(@transportista) %> |
<%= link_to 'Back', transportistas_path %>