<p>
  <b>Codigo:</b>
  <%=h @proveedor.codigo %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @proveedor.descripcion %>
</p>

<p>
  <b>Descripcion comercial:</b>
  <%=h @proveedor.descripcion_comercial %>
</p>

<p>
  <b>Ruc:</b>
  <%=h @proveedor.ruc %>
</p>

<p>
  <b>Dni:</b>
  <%=h @proveedor.dni %>
</p>

<p>
  <b>Direccion1:</b>
  <%=h @proveedor.direccion1 %>
</p>

<p>
  <b>Direccion2:</b>
  <%=h @proveedor.direccion2 %>
</p>

<p>
  <b>Tefl1:</b>
  <%=h @proveedor.tefl1 %>
</p>

<p>
  <b>Telf2:</b>
  <%=h @proveedor.telf2 %>
</p>

<p>
  <b>Fax:</b>
  <%=h @proveedor.fax %>
</p>

<p>
  <b>E-mail:</b>
  <%=h @proveedor.email %>
</p>

<p>
  <b>Giro negocio:</b>
  <%=h @proveedor.giro_negocio %>
</p>

<p>
  <b>Representante:</b>
  <%=h @proveedor.representante %>
</p>

<p>
  <b>Referencias:</b>
  <%=h @proveedor.referencias %>
</p>

<p>
  <b>Nro cuenta:</b>
  <%=h @proveedor.nro_cuenta %>
</p>

<p>
  <b>Vendedor asignado:</b>
  <%=h @proveedor.vendedor_asignado %>
</p>

<p>
  <b>Limite cred:</b>
  <%=h @proveedor.limite_cred %>
</p>

<p>
  <b>Nota:</b>
  <%=h @proveedor.nota %>
</p>


<%= link_to 'Edit', edit_proveedor_path(@proveedor) %> |
<%= link_to 'Back', proveedors_path %>
